*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --principal-cor-1:#090C40;
    --principal-cor-2:#048ABF;
    --principal-cor-3:#025E73;
    --principal-cor-4:#5ABF4B;
    --principal-cor-5:#F2B705;
    --principal-cor-6:#F5A26B;
    --auxiliar-cor-1:#474966;
    --auxiliar-cor-2: #46D3F3;
    --auxiliar-cor-3: #426B7F;
    --auxiliar-cor-4:#72A091;
    --auxiliar-cor-5:#E75A55;
    --auxiliar-cor-6:#F54B5D;
    --auxiliar-cor-7: #42816C;
    --grayscale-cor-1: #47485E;
    --grayscale-cor-2:#C5C7D0;
    --grayscale-cor-3:#F3F3F3;
    --grayscale-cor-4:#FCFCFC;

    --font-1: 'Sigmar', cursive;
    --font-2: Verdana, sans-serif;
    --space-icon-aside: 16px;
    --title-h1-margin-page: 50px 0;

}

main{
    display: flex;

}

aside{
    display: flex;
    height: 100vh;
    width: 20vw;
    background-color: var(--principal-cor-3);
    left: 0px;
    position: relative;
    transition: all 0.5s ease;
    
}

.posicionamento_elementos{
    width: 20vw;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.imagem_volks img{
    width: 100px;
}

.menu_barras{
       display: none; 
}

.imagemfoto{
    width: 100%;
}

.config{
    width: 25px;
}

.menu_conteudo img{
    height: 35px;
}

.menu_conteudo li{
    list-style: none;
    margin-bottom: 10px;
    
}

.menu_conteudo{
    display: flex;
    flex-direction: column;
    gap: 50px;
}


.menu_conteudo a{
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    color: var(--grayscale-cor-4);
    font-family: var(--font-2);
    font-size: 16px;
    cursor: pointer;
}

.menu_conteudo li :hover{
    color: var(--principal-cor-1);
    transition: 0.6s;
    transform: scale(1.1);

}
.icon:hover{
    fill: var(--principal-cor-1);
    transition: 0.6s;
    transform: scale(1.1);
}



.menu_conteudo div{
  display: flex;
  width: 35px;
  justify-content: center;
  align-items: center;
}

.listameio{
   margin-top: 5px;
   margin-bottom: 5px;
}

.div_logofirst{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.saida{
    width: 35px;
}

.logo_first img{
    width: 125px;
}

.posicionamento_elementos2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 60px;
    align-items: center;
    gap: 10px;
}

.moldura_config{
    position: relative;
}

.moldura_config a{
    position: absolute;
    right: -10px;
    bottom: 0;
}

.adminPerfil{
    background-image:
    linear-gradient(#171717cf, #8482828e),
     url(./assets/images/polyPoly_vw.jpg) ;
    
    background-repeat: no-repeat;
    background-size: cover;
    
    width: calc(80vw);
    padding: 200px 50px;
}
.adminPerfil_secao{
    background-color:#f3f3f388;
    width: 100%;
    height: 110%;
    border-radius: 25px;

}
.adminPerfil_texto_imagem{
    display: flex;
    gap: 50px;
}
.AdminPerfil_user_config{

}

.user_config{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.admin_fotopadrao{
    width: 120px;
    height: 120px;
    /* border: 3px solid var(--principal-cor-3);
    border-radius: 99px; */
}

.admin_engrenagem{
    position: absolute;
    right: -6px;
    bottom: 63px;
    width: 25px;
    /* fill: #025E73; */
    /* background-color: var(--auxiliar-cor-2);
    color: var(--auxiliar-cor-3); */
}

.texto_perfil{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    
}

.texto_perfil h1{
    font-size: 35px;
    font-family: var(--font-2);
    color: var(--principal-cor-3);
}

.texto_perfil p{
    font-size: 18px;
    font-family: var(--font-2);
    color: var(--principal-cor-3);


}

.primeira_linha{
    display: flex;
    gap: 10px;
    
}

.centralizar{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 580px;

    
    
     
 
    
}

.posicao_linha{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.segunda_linha{
    display: flex;
    gap: 10px;

}

.terceira_linha{
    display: flex;
    gap: 10px;
    
}

.quarta_linha{
    display: flex;
    gap: 60px;
    align-items: center;
}

.input{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    
    
}

.input1{
    flex: 2;
    
}

.input2{
    flex: 1;
}

.input3, .input4, .input5{
    flex: 1;
}

.input6, .input7{
    flex: 1;
}

.input8{
    width: 70%;
}

.input_caixa{
    border-radius: 10px;
    height: 30px;
    border: 2px solid var(--principal-cor-3) ;
    background-color: var(--grayscale-cor-3);
}

.input label{
    text-transform: uppercase ;
    color: var(--principal-cor-3);
    font-size: 12px;
}

.button_salvar {
    width: 30%;
    display: flex;
    align-items: center;
    padding-top: 12px;
    
    
}

.button_salvar button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 29px;
    border-radius: 20px;
    background-color: var(--principal-cor-3);
    font-family: var(--font-2);
    font-size: 18px;
    color: var(--grayscale-cor-3);
    border: none;
    box-shadow: 2px 3px 5px #888888;
    
}

.posicionamento_alterar{
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 30px;
    align-items: center;
}

.senha{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.senha_antiga{
    display: flex;
    flex-direction: column;
}

.senha_nova{
    display: flex;
    flex-direction: column;
   
}

.texto_senha{
    width: 180px;
    font-family: var(--font-2);
    font-size: 10px;
    color: var(--auxiliar-cor-6);
}

.input_senha, .input_senha2{
    width: 180px;
    border-radius: 10px;
    height: 30px;
    border: 2px solid var(--principal-cor-3) ;
    background-color: var(--grayscale-cor-3);
}

.senha label{
    text-transform: uppercase ;
    color: var(--principal-cor-3);
    font-size: 12px;
}

.button_alterar button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 29px;
    border-radius: 20px;
    background-color: var(--principal-cor-3);
    font-family: var(--font-2);
    font-size: 18px;
    color: var(--grayscale-cor-3);
    border: none;
    box-shadow: 2px 3px 5px #888888;
   

}

.button_alterar{
    width: 90%;
    display: flex;
    align-items: center;
    padding-top: 12px;

}

h2 {
    font-size: 20px;
    font-family: var(--font-2);
    color: var(--principal-cor-3);
}
::placeholder , .input_caixa {
    padding: 0 15px;
}

@media screen and (max-width:768px) {
    .imagem_volks img{
        width: 70px;
    }

    .posicionamento_elementos2{
        margin-bottom: 100px;
       
    }

   
    .moldura_config{
        width: 70px;
       
        
    }

    .config{
        width: 20px;
    }


    .menu_conteudo img{
        width: 30px;
        height: 30px;
    }

    .menu_conteudo span{
        font-size: 13px;

    }

    .menu_barras{
        display: flex;
        background-color:  var(--principal-cor-2);
        padding: 7px;
        border-radius: 0 15px 15px 0 ;
        position: absolute;
        top: 20px;
        right: -40px;

    }

    .menu_barras img{
        width: 30px;
        height: 30px;
    }

    aside{
        position: relative;
    }
    
}

@media screen and (max-width: 500px) {
    .imagem_volks img{
        width: 50px;
    }

    .posicionamento_elementos2{
        margin-bottom: 150px;
       
    }

   
    .moldura_config{
        width: 45px;
       
        
    }

    .config{
        width: 13px;
    }


    .menu_conteudo img{
        width: 25px;
        height: 25px;
    }

    .menu_conteudo span{
        font-size: 10px;

    }

    .menu_conteudo a {
        gap: 3px;


    }

    .div_logofirst img{
        width: 80px;
    }

    .div_logofirst a .saida{
        width: 20px;
    }




   
        
    


    
}